<p class="mat-display-2 sectionSeparator">Top navigation bar</p>
<div class="d-flex topNavigationBar bgBrandColor3 fgAdditionalColor2">
    <div class="mat-body-2 topNavigationBarItem noUserSelect">Local Government Services</div>
    <div class="mat-body-2 topNavigationBarItem noUserSelect">Planning</div>
    <div class="mat-body-2 topNavigationBarItem noUserSelect">Check the Register</div>
    <div class="mat-body-2 topNavigationBarItem topNavigationBarLanguageWrapper noUserSelect">
        <span>English</span> | <span>Gaeilge</span>
    </div>
    <input type="text" class="topNavigationBarSearch">
</div>

<p class="mat-display-2 sectionSeparator">Bottom navigation bar</p>
<div class="d-flex bottomNavigationBar bgBrandColor3 fgAdditionalColor2">
    <img class="bottonNavigationBarLogo" src="../../assets/main_logo.png" alt="">
    <div class="bottonNavigationBarLeftSeparator bgAdditionalColor1"></div>
    <div class="mat-body-2 bottonNavigationBarLeft bottomNavigationBarItem noUserSelect justify-content-start">Local Government Services</div>
    
    <div class="mat-body-2 bottomNavigationBarItem noUserSelect">Loremip</div>
    <div class="mat-body-2 bottomNavigationBarItem noUserSelect">Price</div>
    <div class="mat-body-2 bottomNavigationBarItem noUserSelect">Help</div>
    <button type="button" class="smallButton bgBrandColor3 fgAdditionalColor2 bdAdditionalColor1 bottomNavigationBarButton">
        <p class="mat-body-2">Get In Touch</p>
    </button>
</div>

<p class="mat-display-2 sectionSeparator">Header image</p>
<div class="headerIllustrationWrapper bgBrandColor3">
    <h1 class="mat-headline fgAdditionalColor2 text-center">Local Goverment Service</h1>
    <br>
    <div class="d-flex headerNavigationBarSearch mx-auto">
        <input type="text" class="headerNavigationBarSearchInput">
        <span class="mat-display-2 headerNavigationBarSearchButton bgBrandColor2 fgAdditionalColor2">Search</span>
    </div>
    <img class="headerIllustration" src="../../assets/header_illustration.svg" alt="">
</div>

<p class="mat-display-2 sectionSeparator">Header image as background</p>
<div class="headerIllustrationWrapper bgBrandColor3 headerIllustrationWrapperWithBgImage">
  <h1 class="mat-headline fgAdditionalColor2 text-center">Local Goverment Service</h1>
  <br>
  <div class="d-flex headerNavigationBarSearch mx-auto">
      <input type="text" class="headerNavigationBarSearchInput">
      <span class="mat-display-2 headerNavigationBarSearchButton bgBrandColor2 fgAdditionalColor2">Search</span>
  </div>
</div>