<p class="mat-display-2 sectionSeparator">Footer classic</p>
<div class="footerContainer bgBrandColor3 fgAdditionalColor2">
  <div class="row">
    <div class="col-sm footerRow1Left">
      <img
        class="footerLogo"
        src="../../assets/main_logo.png"
        alt=""
      />
      <br><br>
      <p class="mat-body-1 ">
        Lorem Ipsum is simply dummy text of the printing and typesettidummy text
        ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book
      </p>
    </div>
    <div class="col-sm">
        <div class="row justify-content-center">
            <div class="col-sm">
                <br><br><br>
                <p class="mat-body-2 col-sm">Pages</p>
                <br>
                <p class="mat-body-2 col-sm">Lorem</p>
                <p class="mat-body-2 col-sm">Price</p>
                <p class="mat-body-2 col-sm">Help</p>
                <p class="mat-body-2 col-sm">Contact</p>
            </div>
            <div class="col-sm">
                <br><br><br>
                <p class="mat-body-2 col-sm">Ipsum</p>
                <br>
                <p class="mat-body-2 col-sm">Lorem Ipsum</p>
                <p class="mat-body-2 col-sm">Ilsum Lorem</p>
                <p class="mat-body-2 col-sm">Lorem Lorem</p>
            </div>
            <div class="col-sm">
                <br><br><br>
                <p class="mat-body-2 col-sm">Lorem</p>
                <br>
                <p class="mat-body-2 col-sm">Documentation</p>
            </div>
        </div>
    </div>
    <div class="col-sm d-flex-inline text-end">
        <br><br>
        <div class="row">
            <div class="col-sm">
                <img class="footerImagePlaceholder" src="../../assets/footer_image_placeholder.png" alt="">
                <img class="footerImagePlaceholder" src="../../assets/footer_image_placeholder.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <img class="footerImagePlaceholder" src="../../assets/footer_image_placeholder.png" alt="">
                <img class="footerImagePlaceholder" src="../../assets/footer_image_placeholder.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <img class="footerImagePlaceholder" src="../../assets/footer_image_placeholder.png" alt="">
                <img class="footerImagePlaceholder" src="../../assets/footer_image_placeholder.png" alt="">
            </div>
        </div>
    </div>
  </div>
  <br><hr>
  <div class="row footerRow2">
      <div class="col-sm">
          <p class="mat-body-2">© 2021 All Rights Reserved.</p>
      </div>
      <div class="col-sm">
        <p class="mat-body-2">
            <img class="footerSocialImage" src="../../assets/facebook.svg" alt="Facebook">
            <img class="footerSocialImage" src="../../assets/twitter.svg" alt="Twitter">
            <img class="footerSocialImage" src="../../assets/instagram.svg" alt="Instagram">
            <img class="footerSocialImage" src="../../assets/youtube.svg" alt="Youtube">
        </p>
      </div>
      <div class="col-sm">
        <p class="mat-body-2">Lorem Ipsum</p>
      </div>
  </div>
</div>

<p class="mat-display-2 sectionSeparator">Footer white</p>
<div class="footerContainer bgAdditionalColor2 fgBrandColor3">
    <div class="row">
      <div class="col-sm footerRow1Left fgBrandColor1">
        <img
          class="footerLogo"
          src="../../assets/second_logo.png"
          alt=""
        />
        <br><br>
        <p class="mat-body-1">
          Lorem Ipsum is simply dummy text of the printing and typesettidummy text
          ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book
        </p>
      </div>
      <div class="col-sm">
          <div class="row">
              <div class="col-sm">
                  <br><br><br>
                  <p class="mat-body-2 col-sm fgBrandColor1">Pages</p>
                  <br>
                  <p class="mat-body-2 col-sm">Lorem</p>
                  <p class="mat-body-2 col-sm">Price</p>
                  <p class="mat-body-2 col-sm">Help</p>
                  <p class="mat-body-2 col-sm">Contact</p>
              </div>
              <div class="col-sm">
                  <br><br><br>
                  <p class="mat-body-2 col-sm fgBrandColor1">Ipsum</p>
                  <br>
                  <p class="mat-body-2 col-sm">Lorem Ipsum</p>
                  <p class="mat-body-2 col-sm fgBrandColor2">Ilsum Lorem</p>
                  <p class="mat-body-2 col-sm">Lorem Lorem</p>
              </div>
              <div class="col-sm">
                  <br><br><br>
                  <p class="mat-body-2 col-sm fgBrandColor1">Lorem</p>
                  <br>
                  <p class="mat-body-2 col-sm">Documentation</p>
              </div>
          </div>
      </div>
      <div class="col-sm d-flex-inline text-end">
          <br><br>
          <div class="row">
              <div class="col-sm">
                  <img class="footerImagePlaceholder" src="../../assets/footer_image_placeholder.png" alt="">
                  <img class="footerImagePlaceholder" src="../../assets/footer_image_placeholder.png" alt="">
              </div>
          </div>
          <div class="row">
              <div class="col-sm">
                  <img class="footerImagePlaceholder" src="../../assets/footer_image_placeholder.png" alt="">
                  <img class="footerImagePlaceholder" src="../../assets/footer_image_placeholder.png" alt="">
              </div>
          </div>
          <div class="row">
              <div class="col-sm">
                  <img class="footerImagePlaceholder" src="../../assets/footer_image_placeholder.png" alt="">
                  <img class="footerImagePlaceholder" src="../../assets/footer_image_placeholder.png" alt="">
              </div>
          </div>
      </div>
    </div>
    <br><hr>
    <div class="row footerRow2">
        <div class="col-sm fgBrandColor1">
            <p class="mat-body-2">© 2021 All Rights Reserved.</p>
        </div>
        <div class="col-sm">
          <p class="mat-body-2">
              <img class="footerSocialImage" src="../../assets/facebook_second.svg" alt="Facebook">
              <img class="footerSocialImage" src="../../assets/twitter_second.svg" alt="Twitter">
              <img class="footerSocialImage" src="../../assets/instagram_second.svg" alt="Instagram">
              <img class="footerSocialImage" src="../../assets/youtube_second.svg" alt="Youtube">
          </p>
        </div>
        <div class="col-sm fgBrandColor1">
          <p class="mat-body-2">Lorem Ipsum</p>
        </div>
    </div>
  </div>