<!----------------------------------------------------------------------------->
<p class="mat-display-2 sectionSeparator">Colours</p>

<div class="container">
  <p class="mat-caption">Brand colours</p>
  <div class="row">
    <div class="col-4 height58 bgBrandColor1"></div>
    <div class="col-4 height58 bgBrandColor2"></div>
    <div class="col-4 height58 bgBrandColor3"></div>
  </div>
  <div class="row">
    <div class="col-4 text-center height58">#4B4846</div>
    <div class="col-4 text-center height58">#3a823f</div>
    <div class="col-4 text-center height58">#4C6380</div>
  </div>
</div>

<div class="container">
  <p class="mat-caption">Additional colours</p>
  <div class="row">
    <div class="col-6 height58 bgAdditionalColor1"></div>
    <div class="col-6 height58 bgAdditionalColor2"></div>
  </div>
  <div class="row">
    <div class="col-6 text-center">#D1DCE5</div>
    <div class="col-6 text-center">#FFFFFF</div>
  </div>
</div>
<!----------------------------------------------------------------------------->

<!----------------------------------------------------------------------------->
<p class="mat-display-2 sectionSeparator">Typography</p>

<div class="mat-typography">
  <h1 class="mat-headline">Heading H1</h1>
  <h2 class="mat-title">Heading H2</h2>
  <h3 class="mat-subheading-2">Heading H3</h3>
  <h4 class="mat-subheading-1">Heading H4</h4>
  <p class="mat-display-2">Subtitle</p>
  <p class="mat-display-1">Body text L</p>
  <p class="mat-body-1">Body text M</p>
  <p class="mat-body-2">Body text S</p>
  <p class="mat-caption">caption</p>
  <br />

  <p class="mat-caption">List style</p>

  <ul>
    <li class="customBulletLi">
      <p class="mat-body-1">
        I’m an early bird and I’m a night owl, so I’m wise and have worms.
      </p>
    </li>
  </ul>

  <ol class="customOl">
    <li>
      <p class="mat-body-1">
        I’m an early bird and I’m a night owl, so I’m wise and have worms.
      </p>
    </li>
  </ol>

  <ol>
    <li>
      <p class="mat-body-1">
        I’m an early bird and I’m a night owl, so I’m wise and have worms.
      </p>
    </li>
    <li class="customBulletLi">
      <p class="mat-body-1">
        I’m an early bird and I’m a night owl, so I’m wise and have worms.
      </p>
    </li>
  </ol>

  <div>
    <li class="customBulletLi parentBullet">
      <p class="mat-body-1">
        I’m an early bird and I’m a night owl, so I’m wise and have worms.
      </p>
    </li>
    <ol>
      <li class="olChildLi">
        <p class="mat-body-1">
          I’m an early bird and I’m a night owl, so I’m wise and have worms.
        </p>
      </li>
    </ol>
  </div>
</div>

<p class="mat-caption">Link style</p>

<a href="#" class="fgBrandColor2 noTextDecoration">
  <p class="mat-body-1">Text Link - M</p>
</a>

<a href="#" class="smallTextLink noTextDecoration">
  <p class="mat-body-2">Text Link - S</p>
</a>

<!----------------------------------------------------------------------------->

<!----------------------------------------------------------------------------->
<p class="mat-display-2 sectionSeparator">Spacing</p>
4px
<div class="w-100 bgAdditionalColor1" id="spacing4"></div>
8px
<div class="w-100 bgAdditionalColor1" id="spacing8"></div>
12px
<div class="w-100 bgAdditionalColor1" id="spacing12"></div>
16px
<div class="w-100 bgAdditionalColor1" id="spacing16"></div>
24px
<div class="w-100 bgAdditionalColor1" id="spacing24"></div>
32px
<div class="w-100 bgAdditionalColor1" id="spacing32"></div>
48px
<div class="w-100 bgAdditionalColor1" id="spacing48"></div>
80px
<div class="w-100 bgAdditionalColor1" id="spacing80"></div>
<!----------------------------------------------------------------------------->

<!----------------------------------------------------------------------------->
<p class="mat-display-2 sectionSeparator">Base Components</p>
<button type="button" class="normalButton bgBrandColor2 fgAdditionalColor2">
  <p class="mat-display-2">Get In Touch</p>
</button>
<br /><br />

<button type="button" class="normalButton bgBrandColor3 fgAdditionalColor2">
  <p class="mat-display-2">Get In Touch</p>
</button>
<br /><br />

<button
  type="button"
  class="smallButton bgAdditionalColor2 fgBrandColor2 bdBrandColor2"
>
  <p class="mat-body-2">Get In Touch</p>
</button>
<br /><br />

<button
  type="button"
  class="smallButton bgAdditionalColor2 fgBrandColor3 bdBrandColor3"
>
  <p class="mat-body-2">Get In Touch</p>
</button>
<br /><br />

<a href="#" class="fgBrandColor2">
  <p class="mat-body-2">Get In Touch</p>
</a>

<a href="#" class="fgBrandColor3">
  <p class="mat-body-2">Get In Touch</p>
</a>

<br>

<button type="button" class="normalButton bgBrandColor2 fgAdditionalColor2" id="disabledBigButton">
  <p class="mat-display-2">Get In Touch</p>
</button>
<br /><br />

<button type="button" class="normalButton bgBrandColor3 fgAdditionalColor2" id="disabledBigButton">
  <p class="mat-display-2">Get In Touch</p>
</button>
<br /><br />

<button
  type="button"
  class="smallButton bgAdditionalColor2 fgBrandColor2 bdBrandColor2" id="disabledSmallButton"
>
  <p class="mat-body-2">Get In Touch</p>
</button>
<br /><br />

<button
  type="button"
  class="smallButton bgAdditionalColor2 fgBrandColor3 bdBrandColor3" id="disabledSmallButton"
>
  <p class="mat-body-2">Get In Touch</p>
</button>
<br /><br />

<a href="#" class="fgBrandColor2" id="disabledLink">
  <p class="mat-body-2">Get In Touch</p>
</a>

<a href="#" class="fgBrandColor3" id="disabledLink">
  <p class="mat-body-2">Get In Touch</p>
</a>

<br>

<p class="mat-caption">Image Placeholder</p>
<img
  class="image_placeholder"
  src="../../assets/image_placeholder.png"
  alt=""
/>
<!----------------------------------------------------------------------------->

<!----------------------------------------------------------------------------->
<p class="mat-display-2 sectionSeparator">Paragraph</p>
<h3 class="mat-subheading-2">
  Lorem Ipsum is dummy of printing and the printing typesetting
</h3>
<p class="mat-display-1">
  Lorem Ipsum is simply dummy text of an the printing and typesetting industry.
  Lorem Ipsum has been the industry's standards dummy text ever since the 1500s,
  when standard an unknown printer took a galley of type and scrambled it to
  make a type.
</p>
<!----------------------------------------------------------------------------->
