@import '../../custom-theme.scss';

.height58
{
    height: 58px;
}

#spacing4
{
    height: 4px;
}

#spacing8
{
    height: 8px;
}

#spacing12
{
    height: 12px;
}

#spacing16
{
    height: 16px;
}

#spacing24
{
    height: 24px;
}

#spacing32
{
    height: 32px;
}

#spacing48
{
    height: 48px;
}

#spacing80
{
    height: 80px;
}