<p class="mat-display-2 sectionSeparator">Components</p>
<div class="componentsWrapper">
  <h3 class="mat-subheading-2 w-75">
    Lorem Ipsum is dummy of printing and the printing typesetting
  </h3>
  <p class="mat-display-1">
    Lorem Ipsum is simply dummy text of an the printing and typesetting
    industry. Lorem Ipsum has been the industry's standards dummy text ever
    since the 1500s, when standard an unknown printer took a galley of type and
    scrambled it to make a type.
  </p>
  <br />
  <div class="row">
    <div class="col-sm d-flex">
      <img class="componentsImage" src="../../assets/components_1.svg" alt="" />
      <div>
        <p class="mat-display-2">Design concept</p>
        <p class="mat-body-1">
          Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan
          nulla nunc euismod ve semper.
        </p>
      </div>
    </div>
    <div class="col-sm d-flex">
      <img class="componentsImage" src="../../assets/components_2.svg" alt="" />
      <div>
        <p class="mat-display-2">Developing websites</p>
        <p class="mat-body-1">
          Vitae nulla euismod velpretium tellus accumsan nulla nunc euismod ve
          semper.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm d-flex">
      <img class="componentsImage" src="../../assets/components_2.svg" alt="" />
      <div>
        <p class="mat-display-2">Developing websites</p>
        <p class="mat-body-1">
          Vitae nulla euismod velpretium tellus accumsan nulla nunc euismod ve
          semper.
        </p>
      </div>
    </div>
    <div class="col-sm d-flex">
      <img class="componentsImage" src="../../assets/components_1.svg" alt="" />
      <div>
        <p class="mat-display-2">Design concept</p>
        <p class="mat-body-1">
          Vitae nulla euismod velpretium tellus accumsan nulla nunc euismod ve
          semper.
        </p>
      </div>
    </div>
  </div>
</div>

<p class="mat-display-2 sectionSeparator">Cards</p>
<div class="componentsWrapper">
  <div class="d-flex cursorPointer justify-content-end">
    <p class="mat-body-2 fgBrandColor2 underline">Experienced team</p>
    <img class="breadcrumb_arrow" src="../../assets/arrow_2.svg" alt="" />
  </div>
  <h3 class="mat-subheading-2 w-75">
    Lorem Ipsum is dummy of printing and the printing typesetting
  </h3>
  <br />
  <div class="row" style="margin: auto">
    <div class="customCard bgAdditionalColor2 col-sm">
      <h4 class="mat-subheading-1 upperCustomCard">Lorem</h4>
      <br />
      <p class="mat-body-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac
        volutpat, viverra magna risus aliquam massa. Ac aliquam ac volutpat,
        viverra magna risus.
      </p>
      <br />
      <div class="customHr bgAdditionalColor1"></div>
      <p class="mat-body-2 lowerCustomCard fgAdditionalColor1">
        Experienced team
      </p>
    </div>
    <div class="customCard bgAdditionalColor2 col-sm">
      <h4 class="mat-subheading-1 upperCustomCard">Lorem</h4>
      <br />
      <p class="mat-body-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac
        volutpat, viverra magna risus aliquam massa. Ac aliquam ac volutpat,
        viverra magna risus.
      </p>
      <br />
      <div class="customHr bgAdditionalColor1"></div>
      <p class="mat-body-2 lowerCustomCard fgAdditionalColor1">
        Experienced team
      </p>
    </div>
    <div class="customCard bgAdditionalColor2 col-sm">
      <h4 class="mat-subheading-1 upperCustomCard">Lorem</h4>
      <br />
      <p class="mat-body-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac
        volutpat, viverra magna risus aliquam massa. Ac aliquam ac volutpat,
        viverra magna risus.
      </p>
      <br />
      <div class="customHr bgAdditionalColor1"></div>
      <p class="mat-body-2 lowerCustomCard fgAdditionalColor1">
        Experienced team
      </p>
    </div>
  </div>
</div>

<p class="mat-display-2 sectionSeparator">Quote</p>
<div class="w-50 mx-auto">
  <h4 class="mat-subheading-1">
    “Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in
    laying out print, graphic or web designs. The passage is attributed to an
    unknown typesetter in t”
  </h4>
  <br />
  <div class="d-flex">
    <img class="quoteImage" src="../../assets/quote.png" alt="" />
    <div class="quotePerson">
      <p class="mat-display-2 my-auto">Andry Ford</p>
      <p class="mat-body-1">CEO at Lorem</p>
    </div>
  </div>
</div>

<p class="mat-display-2 sectionSeparator">CTA</p>
<div class="CTAWrapper bgBrandColor3">
  <div class="row d-flex flex-row-reverse">
    <div class="col-sm m-4">
      <button
        type="button"
        class="float-end normalButton bgBrandColor2 fgAdditionalColor2"
      >
        <p class="mat-display-2">Get In Touch</p>
      </button>
    </div>
    <div class="col-sm fgAdditionalColor2">
      <h4 class="mat-subheading-1">Lorem ipsum dolor sit amet</h4>
      <p class="mat-body-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac
        volutpat, viverra magna risus aliquam massa.
      </p>
    </div>
  </div>
</div>

<p class="mat-display-2 sectionSeparator">Alerts</p>
<div class="alertWrapper bgBrandColor3">
  <div class="d-flex justify-content-between upperAlert">
    <p class="mat-body-2 fgAdditionalColor2 my-auto">This is an alert</p>
    <img src="../../assets/alert_X_1.svg" alt="" class="cursorPointer" />
  </div>
</div>
<br />
<div class="alertWrapper bgBrandColor3">
  <div class="d-flex justify-content-between upperAlert">
    <p class="mat-body-2 fgAdditionalColor2 my-auto">This is an alert</p>
    <img src="../../assets/alert_X_1.svg" alt="" class="cursorPointer" />
  </div>
  <p class="mat-body-1 fgAdditionalColor2">Alert details go here.</p>
</div>
<br />
<div class="alertWrapper bgAdditionalColor2">
  <div class="d-flex justify-content-between upperAlert">
    <p class="mat-body-2 my-auto">This is an alert</p>
    <img src="../../assets/alert_X_2.svg" alt="" class="cursorPointer" />
  </div>
  <p class="mat-body-1 fgBrandColor1">Alert details go here.</p>
</div>
<br />
<div class="alertWrapper bgBrandColor3 d-flex">
  <div>
    <div class="d-flex upperAlert">
      <img src="../../assets/alert_i.svg" alt="" />
      <p class="mat-body-2 fgAdditionalColor2 my-auto upperComplexAlert">
        This is an alert
      </p>
    </div>
    <p class="mat-body-1 fgAdditionalColor2 lowerComplexAlert">
      Alert details go here.
    </p>
  </div>
  <div class="rightComplexAlert">
    <p class="mat-body-2 fgAdditionalColor2 cursorPointer">Open</p>
    <p class="mat-body-1 fgAdditionalColor2 cursorPointer">Dismiss</p>
  </div>
</div>

<p class="mat-display-2 sectionSeparator">Modals</p>
<div class="modalWrapper bgAdditionalColor2">
  <div class="d-flex justify-content-between upperAlert">
    <p class="mat-body-2 my-auto">Lorem Title</p>
    <img src="../../assets/modal_x.svg" alt="" class="cursorPointer" />
  </div>
  <p class="mat-body-1 fgBrandColor1">Lorem details go here.</p>
  <div class="text-end">
    <button
      type="button"
      class="smallButton bgAdditionalColor2 bdAdditionalColor1 modalButton"
    >
      <p class="mat-body-2">Cancel</p>
    </button>
    <button
      type="button"
      class="smallButton bgBrandColor2 bdBrandColor2 modalButton"
    >
      <p class="mat-body-2 fgAdditionalColor2">Submit</p>
    </button>
  </div>
</div>
<br />
<div class="modalWrapper bgAdditionalColor2">
  <div class="d-flex justify-content-between upperAlert">
    <p class="mat-body-2 my-auto">Modal window</p>
    <img src="../../assets/modal_x.svg" alt="" class="cursorPointer" />
  </div>
  <p class="mat-body-1 fgBrandColor1">Modal details go here.</p>
  <div class="text-end">
    <button
      type="button"
      class="smallButton bgAdditionalColor2 bdAdditionalColor1 modalButton"
    >
      <p class="mat-body-2">Cancel</p>
    </button>
    <button
      type="button"
      class="smallButton bgBrandColor2 bdBrandColor2 modalButton"
    >
      <p class="mat-body-2 fgAdditionalColor2">Submit</p>
    </button>
  </div>
</div>
<br />
<div class="modalWrapper bgAdditionalColor2">
  <div class="d-flex justify-content-between upperAlert">
    <p class="mat-body-2 my-auto">Message box</p>
    <img src="../../assets/modal_x.svg" alt="" class="cursorPointer" />
  </div>
  <p class="mat-body-1 fgBrandColor1">Lorem message details go here.</p>
  <div class="text-end">
    <button
      type="button"
      class="smallButton bgBrandColor2 bdBrandColor2 modalButton"
    >
      <p class="mat-body-2 fgAdditionalColor2">Ok</p>
    </button>
  </div>
</div>

<p class="mat-display-2 sectionSeparator">Toasts</p>
<div class="alertWrapper bgBrandColor2 d-flex justify-content-between">
  <div class="d-flex upperAlert">
    <img src="../../assets/toast_V_1.svg" alt="" class="leftToastIcon" />
    <p class="mat-body-2 fgAdditionalColor2 my-auto">Success</p>
  </div>
  <div>
    <img
      src="../../assets/toast_X_1.svg"
      alt=""
      class="cursorPointer upperAlert"
    />
  </div>
</div>
<br />
<div class="alertWrapper bgAdditionalColor2 d-flex justify-content-between">
  <div class="d-flex upperAlert">
    <img src="../../assets/toast_V_1.svg" alt="" class="leftToastIcon" />
    <p class="mat-body-2 my-auto">This is Success</p>
  </div>
  <div>
    <img
      src="../../assets/alert_X_2.svg"
      alt=""
      class="cursorPointer upperAlert"
    />
  </div>
</div>
<br />
<div class="alertWrapper bgBrandColor2 d-flex justify-content-between">
  <div class="d-flex upperAlert">
    <img src="../../assets/toast_V_1.svg" alt="" class="leftToastIcon" />
    <div>
      <p class="mat-body-2 fgAdditionalColor2 my-auto">This is Success</p>
      <p class="mat-body-1 fgAdditionalColor2">Message details go here.</p>
    </div>
  </div>
  <div>
    <img
      src="../../assets/toast_X_1.svg"
      alt=""
      class="cursorPointer upperAlert"
    />
  </div>
</div>
<br />
<div class="alertWrapper bgAdditionalColor2 d-flex justify-content-between">
  <div class="d-flex upperAlert">
    <img src="../../assets/toast_V_1.svg" alt="" class="leftToastIcon" />
    <div>
      <p class="mat-body-2 my-auto">This is Success</p>
      <p class="mat-body-1 fgBrandColor1">Message details go here.</p>
    </div>
  </div>
  <div>
    <img
      src="../../assets/alert_X_2.svg"
      alt=""
      class="cursorPointer upperAlert"
    />
  </div>
</div>
<br />
<div class="alertWrapper bgBrandColor2 d-flex justify-content-between">
  <div class="d-flex upperAlert">
    <img src="../../assets/toast_V_1.svg" alt="" class="leftToastIcon" />
    <div>
      <p class="mat-body-2 fgAdditionalColor2 my-auto">Info Message</p>
      <p class="mat-body-1 fgAdditionalColor2">Message details go here.</p>
    </div>
  </div>
  <div>
    <img
      src="../../assets/toast_X_1.svg"
      alt=""
      class="cursorPointer upperAlert"
    />
  </div>
</div>
<br />
<div class="alertWrapper bgAdditionalColor2 d-flex justify-content-between">
  <div class="d-flex upperAlert">
    <img src="../../assets/toast_i.svg" alt="" class="leftToastIcon" />
    <div>
      <p class="mat-body-2 my-auto">Info Message</p>
      <p class="mat-body-1 fgBrandColor1">Message details go here.</p>
    </div>
  </div>
  <div>
    <img
      src="../../assets/alert_X_2.svg"
      alt=""
      class="cursorPointer upperAlert"
    />
  </div>
</div>
<br />
<div class="alertWrapper bgBrandColor2">
  <div class="d-flex justify-content-between upperAlert">
    <p class="mat-body-2 fgAdditionalColor2 my-auto">Toast title here</p>
    <img src="../../assets/toast_X_1.svg" alt="" class="cursorPointer" />
  </div>
  <p class="mat-body-1 fgAdditionalColor2">Toast details go here.</p>
</div>
<br />
<div class="alertWrapper bgAdditionalColor2">
  <div class="d-flex justify-content-between upperAlert">
    <p class="mat-body-2 my-auto">Toast title here</p>
    <img src="../../assets/alert_X_2.svg" alt="" class="cursorPointer" />
  </div>
  <p class="mat-body-1 fgBrandColor1">Toast details go here.</p>
</div>

<p class="mat-display-2 sectionSeparator">Breadcrumbs</p>
<div class="d-flex">
  <div class="breadcrumb d-flex cursorPointer">
    <p class="mat-body-2 fgBrandColor1">First Section</p>
    <img class="breadcrumb_arrow" src="../../assets/arrow_1.svg" alt="" />
  </div>
  <div class="breadcrumb d-flex cursorPointer">
    <p class="mat-body-2 fgBrandColor1 opacity-50">Second Section</p>
  </div>
</div>
<div class="d-flex">
  <div class="breadcrumb d-flex cursorPointer">
    <p class="mat-body-2 fgBrandColor2">First Section</p>
    <img class="breadcrumb_arrow" src="../../assets/arrow_3.svg" alt="" />
  </div>
  <div class="breadcrumb d-flex cursorPointer">
    <p class="mat-body-2 fgBrandColor1 opacity-50">Second Section</p>
  </div>
</div>
<div class="d-flex">
  <div class="breadcrumb d-flex cursorPointer">
    <p class="mat-body-2 fgBrandColor1">First Section</p>
    <img class="breadcrumb_arrow" src="../../assets/arrow_1.svg" alt="" />
  </div>
  <div class="breadcrumb d-flex cursorPointer">
    <p class="mat-body-2 fgBrandColor1">Second Section</p>
    <img class="breadcrumb_arrow" src="../../assets/arrow_1.svg" alt="" />
  </div>
  <div class="breadcrumb d-flex cursorPointer">
    <p class="mat-body-2 fgBrandColor1 opacity-50">Third Section</p>
  </div>
</div>
<div class="d-flex">
  <div class="breadcrumb d-flex cursorPointer">
    <p class="mat-body-2 fgBrandColor2">First Section</p>
    <img class="breadcrumb_arrow" src="../../assets/arrow_3.svg" alt="" />
  </div>
  <div class="breadcrumb d-flex cursorPointer">
    <p class="mat-body-2 fgBrandColor2">Second Section</p>
    <img class="breadcrumb_arrow" src="../../assets/arrow_3.svg" alt="" />
  </div>
  <div class="breadcrumb d-flex cursorPointer">
    <p class="mat-body-2 fgBrandColor1 opacity-50">Third Section</p>
  </div>
</div>

<p class="mat-display-2 sectionSeparator">Notification badges</p>
<div class="customBadge d-flex-inline">
  <div class="customBadgeUpper bgBrandColor2">
    <img class="customBadgeContent" src="../../assets/badge_like.svg" alt="" />
  </div>
  <div class="customBadgeArrowDown m-auto"></div>
</div>
<br />
<div class="customBadge d-flex-inline">
  <div class="customBadgeUpper bgBrandColor2">
    <img class="customBadgeContent" src="../../assets/badge_love.svg" alt="" />
  </div>
  <div class="customBadgeArrowDown m-auto"></div>
</div>
<br />
<div class="customBadge d-flex-inline">
  <div class="customBadgeUpper bgBrandColor2">
    <img
      class="customBadgeContent"
      src="../../assets/badge_comment.svg"
      alt=""
    />
  </div>
  <div class="customBadgeArrowDown m-auto"></div>
</div>
<br />
<div class="customBadge d-flex-inline">
  <div class="customBadgeUpper bgBrandColor2">
    <img class="customBadgeContent" src="../../assets/badge_share.svg" alt="" />
  </div>
  <div class="customBadgeArrowDown m-auto"></div>
</div>
<br />
<div class="customBadge d-flex-inline">
  <div class="customBadgeUpper bgBrandColor2">
    <img
      class="customBadgeContent"
      src="../../assets/badge_person.svg"
      alt=""
    />
  </div>
  <div class="customBadgeArrowDown m-auto"></div>
</div>
<br />
<div class="customBadge d-flex-inline">
  <div class="customBadgeUpper bgBrandColor2">
    <img class="customBadgeContent" src="../../assets/badge_eye.svg" alt="" />
  </div>
  <div class="customBadgeArrowDown m-auto"></div>
</div>
<br />
<div class="customBadge d-flex-inline">
  <div class="customBadgeUpper bgBrandColor2">
    <img class="customBadgeContent" src="../../assets/badge_like.svg" alt="" />
    <span class="mat-body-2 fgAdditionalColor2 customBadgeContent">1</span>
  </div>
  <div class="customBadgeArrowDown m-auto"></div>
</div>
<br />
<div class="customBadge d-flex-inline">
  <div class="customBadgeUpper bgBrandColor2">
    <img class="customBadgeContent" src="../../assets/badge_like.svg" alt="" />
    <span class="mat-body-2 fgAdditionalColor2 customBadgeContent">1K</span>
  </div>
  <div class="customBadgeArrowDown m-auto"></div>
</div>
<br />
<div class="customBadge d-flex-inline">
  <div class="customBadgeUpper bgBrandColor2">
    <img class="customBadgeContent" src="../../assets/badge_like.svg" alt="" />
    <span class="mat-body-2 fgAdditionalColor2 customBadgeContent">10K</span>
  </div>
  <div class="customBadgeArrowDown m-auto"></div>
</div>
<br />
<div class="customBadge d-flex-inline">
  <div class="customBadgeUpper bgBrandColor2">
    <img class="customBadgeContent" src="../../assets/badge_like.svg" alt="" />
    <span class="mat-body-2 fgAdditionalColor2 customBadgeContent">100K</span>
  </div>
  <div class="customBadgeArrowDown m-auto"></div>
</div>
<br />
<div class="customBadge d-flex-inline">
  <div class="customBadgeUpper bgBrandColor2">
    <img class="customBadgeContent" src="../../assets/badge_love.svg" alt="" />
    <span class="mat-body-2 fgAdditionalColor2 customBadgeContent">176</span>
    <img
      class="customBadgeContent"
      src="../../assets/badge_comment.svg"
      alt=""
    />
    <span class="mat-body-2 fgAdditionalColor2 customBadgeContent">12</span>
  </div>
  <div class="customBadgeArrowDown m-auto"></div>
</div>
<br />
<div class="customBadge d-flex-inline">
  <div class="customBadgeUpper bgBrandColor2">
    <img class="customBadgeContent" src="../../assets/badge_eye.svg" alt="" />
    <span class="mat-body-2 fgAdditionalColor2 customBadgeContent">127</span>
    <img class="customBadgeContent" src="../../assets/badge_love.svg" alt="" />
    <span class="mat-body-2 fgAdditionalColor2 customBadgeContent">83</span>
    <img
      class="customBadgeContent"
      src="../../assets/badge_comment.svg"
      alt=""
    />
    <span class="mat-body-2 fgAdditionalColor2 customBadgeContent">12</span>
  </div>
  <div class="customBadgeArrowDown m-auto"></div>
</div>

<p class="mat-display-2 sectionSeparator">Widgets</p>
<div class="row m-auto widgetsContainer">
  <div class="widgetWrapper bgAdditionalColor2 d-flex col-sm">
    <img src="../../assets/widget_1.svg" alt="" class="widgetLeft" />
    <div>
      <p class="mat-display-1 widgetTitle">62</p>
      <p class="mat-body-2 widgetSubtitle fgBrandColor1">Example 1</p>
    </div>
  </div>
  <div class="widgetWrapper bgAdditionalColor2 d-flex col-sm">
    <img src="../../assets/widget_2.svg" alt="" class="widgetLeft" />
    <div>
      <p class="mat-display-1 widgetTitle">6.8</p>
      <p class="mat-body-2 widgetSubtitle fgBrandColor1">Example 2</p>
    </div>
  </div>
  <div class="widgetWrapper bgAdditionalColor2 d-flex col-sm">
    <img src="../../assets/widget_3.svg" alt="" class="widgetLeft" />
    <div>
      <p class="mat-display-1 widgetTitle">
        9
        <span class="fgBrandColor1">(14%)</span>
      </p>
      <p class="mat-body-2 widgetSubtitle fgBrandColor1">Example 3</p>
    </div>
  </div>
  <div class="widgetWrapper bgAdditionalColor2 d-flex col-sm">
    <img src="../../assets/widget_4.svg" alt="" class="widgetLeft" />
    <div>
      <p class="mat-display-1 widgetTitle">83%</p>
      <p class="mat-body-2 widgetSubtitle fgBrandColor1">Example 4</p>
    </div>
  </div>
</div>

<p class="mat-display-2 sectionSeparator">Drop down menu & Combo box</p>
<div class="dropdown paginationDropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Dummy option
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <span class="dropdown-item">Dummy option</span>
    <span class="dropdown-item">Other dummy option</span>
    <span class="dropdown-item">Yet another dummy option</span>
    <span class="dropdown-item">Last dummy option</span>
  </div>
</div>
<br /><br />
<div class="dropdown paginationDropdown customDropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <span class="mat-display-2">Show more details</span>
    <img
      class="customDropdownArrowToggle"
      src="../../assets/arrow_4.svg"
      alt=""
    />
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item">
      <p class="mat-body-2">Lor isume</p>
      <p class="mat-body-2 dropdownItemDescription">
        Lor isume ipus lorem isum
      </p>
    </a>
    <a class="dropdown-item">
      <p class="mat-body-2">Ips loreme ips</p>
      <p class="mat-body-2 dropdownItemDescription">Rewisume ipus</p>
    </a>
    <a class="dropdown-item">
      <p class="mat-body-2">Searh lorem</p>
      <p class="mat-body-2 dropdownItemDescription">Lorem isum</p>
    </a>
    <a class="dropdown-item">
      <p class="mat-body-2">Plans ipsum lore</p>
      <p class="mat-body-2 dropdownItemDescription">Pus lorem isum</p>
    </a>
    <a class="dropdown-item">
      <p class="mat-body-2">Contact isume</p>
      <p class="mat-body-2 dropdownItemDescription">
        Lor isume ipus lorem isum
      </p>
    </a>
  </div>
</div>
<br /><br />
<div class="dropdown paginationDropdown customDropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <span class="mat-display-2">Show more details</span>
    <img
      class="customDropdownArrowToggle"
      src="../../assets/arrow_4.svg"
      alt=""
    />
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div class="d-flex dropdown-item">
      <input class="form-check-input" type="checkbox" value="" />
      <a>
        <p class="mat-body-2">Lor isume</p>
        <p class="mat-body-2 dropdownItemDescription">
          Lor isume ipus lorem isum
        </p>
      </a>
    </div>
    <div class="d-flex dropdown-item">
      <input class="form-check-input" type="checkbox" value="" />
      <a>
        <p class="mat-body-2">Ips loreme ips</p>
        <p class="mat-body-2 dropdownItemDescription">Rewisume ipus</p>
      </a>
    </div>
    <div class="d-flex dropdown-item">
      <input class="form-check-input" type="checkbox" value="" />
      <a>
        <p class="mat-body-2">Searh lorem</p>
        <p class="mat-body-2 dropdownItemDescription">Lorem isum</p>
      </a>
    </div>
    <div class="d-flex dropdown-item">
      <input class="form-check-input" type="checkbox" value="" />
      <a>
        <p class="mat-body-2">Plans ipsum lore</p>
        <p class="mat-body-2 dropdownItemDescription">Pus lorem isum</p>
      </a>
    </div>
    <div class="d-flex dropdown-item">
      <input class="form-check-input" type="checkbox" value="" />
      <a>
        <p class="mat-body-2">Contact isume</p>
        <p class="mat-body-2 dropdownItemDescription">
          Lor isume ipus lorem isum
        </p>
      </a>
    </div>
  </div>
</div>
<br /><br />
<div class="dropdown paginationDropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {{ selectedDropdownOption }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <span
      *ngFor="let dropdownOption of dropdownDemoOptions"
      class="dropdown-item"
      (click)="changeSelectedDropdownOption(dropdownOption)"
    >
      {{ dropdownOption }}
    </span>
  </div>
</div>

<p class="mat-display-2 sectionSeparator">Toggle</p>

<div class="switchWithText d-flex">
  <label class="switch">
    <input type="checkbox" checked />
    <span class="slider round"></span>
  </label>
  <h4 class="mat-subheading-1">Option</h4>
</div>
<label class="switch">
  <input type="checkbox" checked />
  <span class="slider round"></span>
</label>
<label class="switch grayWhiteSwitch">
  <input type="checkbox" />
  <span class="slider round"></span>
</label>
<label class="switch">
  <input type="checkbox" />
  <span class="slider round"></span>
</label>
<br /><br />
<label class="switch smallHeightSwitch">
  <input type="checkbox" checked />
  <span class="slider round"></span>
</label>
<label class="switch grayWhiteSwitch smallHeightSwitch">
  <input type="checkbox" />
  <span class="slider round"></span>
</label>
<label class="switch smallHeightSwitch">
  <input type="checkbox" />
  <span class="slider round"></span>
</label>

<p class="mat-display-2 sectionSeparator">Check box</p>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" />
  <label class="form-check-label" for="flexCheckDefault">
    <h4 class="mat-subheading-1">Option</h4>
  </label>
  <br />
  <input class="form-check-input" type="checkbox" value="" />
  <br />
  <input class="form-check-input bgAdditionalColor1" type="checkbox" value="" />
  <br />
  <input class="form-check-input bdBrandColor2" type="checkbox" value="" />
  <br />
  <input class="form-check-input bdBrandColor3" type="checkbox" value="" />
  <br />
  <input
    class="form-check-input bdBrandColor3 bgBrandColor3 minusCheckBox"
    type="checkbox"
    value=""
  />
  <br />
</div>

<p class="mat-display-2 sectionSeparator">Radio buttons</p>
<div class="form-check">
  <input
    class="form-check-input customRadio"
    type="radio"
    name="flexRadioDefault"
  />
  <label class="form-check-label" for="flexRadioDefault1">
    <h4 class="mat-subheading-1">Option</h4>
  </label>
</div>
<div class="form-check">
  <input
    class="form-check-input customRadio"
    type="radio"
    name="flexRadioDefault"
  />
</div>
<div class="form-check">
  <input
    class="form-check-input customRadio grayCustomRadio"
    type="radio"
    name="flexRadioDefault"
  />
</div>
<div class="form-check">
  <input
    class="form-check-input customRadio bdBrandColor2"
    type="radio"
    name="flexRadioDefault"
  />
</div>
<div class="form-check">
  <input
    class="form-check-input customRadio bdBrandColor3"
    type="radio"
    name="flexRadioDefault"
  />
</div>

<p class="mat-display-2 sectionSeparator">Data picker</p>
<div class="textLabelNoForm m-auto">
  <input
    type="text"
    class="form-control textLabel inputHeight"
    placeholder="Click to pick date..."
    bsDatepicker
    [bsConfig]="{
      adaptivePosition: false,
      displayMonths: 1,
      showWeekNumbers: false,
      dateInputFormat: 'DD.MM.YYYY'
    }"
  />
</div>
<br />
<div class="textLabelNoForm m-auto">
  <input
    type="text"
    class="form-control textLabel inputHeight"
    placeholder="Click to pick date..."
    bsDaterangepicker
    [bsConfig]="{
      adaptivePosition: false,
      displayMonths: 1,
      showWeekNumbers: false,
      rangeInputFormat: 'DD.MM.YYYY'
    }"
  />
</div>
<br />
<div class="textLabelNoForm m-auto">
  <input
    type="text"
    class="form-control textLabel inputHeight"
    placeholder="Click to pick date..."
    bsDaterangepicker
    [bsConfig]="{
      adaptivePosition: false,
      displayMonths: 2,
      showWeekNumbers: false,
      rangeInputFormat: 'DD.MM.YYYY'
    }"
  />
</div>

<p class="mat-display-2 sectionSeparator">Text / passowrd field</p>
<div class="textLabelNoForm">
  <label for="labelNoForm" class="form-label mat-body-2 noMarginBottom"
    >Text label</label
  >
  <input
    type="text"
    class="form-control textLabel inputHeight"
    id="labelNoForm"
    placeholder="Text field"
  />
</div>
<br />
<br />
<div class="textLabelNoForm">
  <label for="labelNoForm" class="form-label mat-body-2 noMarginBottom"
    >Text label</label
  >
  <input
    type="text"
    class="form-control textLabel inputHeight messageIcon messageIconLeft"
    id="labelNoForm"
    placeholder="Text field"
  />
</div>
<br /><br />
<div class="textLabelNoForm">
  <label for="labelNoForm" class="form-label mat-body-2 noMarginBottom"
    >Text label</label
  >
  <input
    type="text"
    class="form-control textLabel inputHeight messageIcon messageIconRight"
    id="labelNoForm"
    placeholder="Text field"
  />
</div>
<br /><br />
<div class="textLabelNoForm">
  <label for="labelNoForm" class="form-label mat-body-2 noMarginBottom"
    >Password field</label
  >
  <input
    type="password"
    class="form-control textLabel inputHeight"
    id="labelNoForm"
    placeholder="Password field"
  />
</div>
<br /><br />
<div class="textLabelNoForm">
  <input
    type="text"
    class="form-control textLabel inputHeight"
    id="labelNoForm"
    placeholder="Text field"
  />
</div>
<br />
<br />
<div class="textLabelNoForm">
  <input
    type="text"
    class="form-control textLabel inputHeight messageIcon messageIconLeft"
    id="labelNoForm"
    placeholder="Text field"
  />
</div>
<br /><br />
<div class="textLabelNoForm">
  <input
    type="text"
    class="form-control textLabel inputHeight messageIcon messageIconRight"
    id="labelNoForm"
    placeholder="Text field"
  />
</div>
<br /><br />
<div class="textLabelNoForm">
  <label for="labelNoForm" class="form-label mat-body-2 noMarginBottom"
    >Text label</label
  >
  <input
    type="number"
    class="form-control textLabel inputHeight"
    id="labelNoForm"
    placeholder="Text field"
  />
</div>
<br /><br />
<div class="textLabelNoForm">
  <label for="labelNoForm" class="form-label mat-body-2 noMarginBottom"
    >Text label</label
  >
  <input class="form-check-input checkboxAbsolute" type="checkbox" value="" />
  <input
    type="number"
    class="form-control textLabel inputHeight messageIconLeft"
    id="labelNoForm"
    placeholder="Text field"
  />
</div>
<br /><br />
<div class="textLabelNoForm">
  <label
    for="exampleFormControlTextarea1"
    class="form-label mat-body-2 noMarginBottom"
    >Textarea</label
  >
  <textarea
    class="form-control textLabel"
    id="exampleFormControlTextarea1"
    rows="3"
    placeholder="Placeholder"
  ></textarea>
</div>
<br /><br />
<div class="textLabelNoForm">
  <input
    type="number"
    class="form-control textLabel inputHeight"
    id="labelNoForm"
    placeholder="Text field"
  />
</div>
<br /><br />
<div class="textLabelNoForm">
  <input class="form-check-input checkboxAbsolute" type="checkbox" value="" />
  <input
    type="number"
    class="form-control textLabel inputHeight messageIconLeft"
    id="labelNoForm"
    placeholder="Text field"
  />
</div>
<!-- <br />
<div class="textFieldDropdown">
  <p class="mat-body-2">1<span class="mx-3">|</span></p>
  <div class="dropdown paginationDropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <p class="mat-body-2 fgBrandColor3">Nmb</p>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item">1</a>
      <a class="dropdown-item">2</a>
      <a class="dropdown-item">3</a>
      <a class="dropdown-item">4</a>
      <a class="dropdown-item">5</a>
      <a class="dropdown-item">6</a>
      <a class="dropdown-item">7</a>
      <a class="dropdown-item">8</a>
      <a class="dropdown-item">9</a>
      <a class="dropdown-item">10</a>
    </div>
  </div>
</div> -->
<br />
<div class="textFieldDropdown simpleTextFieldDropdown">
  <div class="dropdown paginationDropdown">
    <button
      class="btn btn-secondary dropdown-toggle opacity-50"
      type="button"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      {{ selectedSimpleNumberDropDownDemoOption }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a
        class="dropdown-item"
        *ngFor="
          let simpleNumberDropdownDemoOption of simpleNumberDropdownDemoOptions
        "
        (click)="changeSelectedSimpleNumberDropdownDemoOption(simpleNumberDropdownDemoOption)"
      >
        {{ simpleNumberDropdownDemoOption }}
      </a>
    </div>
  </div>
</div>

<p class="mat-display-2 sectionSeparator">Reply form</p>
<div class="replyFormBox">
  <p class="mat-display-2 replyForm__subtitle">Leave a reply</p>
  <p class="mat-body-1">
    Already have an account? <a class="fgBrandColor1" href=".">Sign in</a> to
    leave a reply
  </p>
  <div class="inputEmailName justify-content-between row">
    <div class="replyFormInputs replyForm__input1 col-xs">
      <label for="labelNoForm" class="form-label mat-body-2 noMarginBottom"
        >Name</label
      >
      <input
        type="text"
        class="form-control textLabel inputHeight"
        id="labelNoForm"
        placeholder="Name"
      />
    </div>
    <div class="replyFormInputs replyForm__input2 col-xs">
      <label for="labelEmail" class="form-label mat-body-2 noMarginBottom"
        >Email address</label
      >
      <input
        type="email"
        class="form-control textLabel inputHeight"
        id="labelEmail"
        placeholder="Email address"
      />
    </div>
  </div>
  <div class="replyFormInputs replyForm__input__checkBox textLabel">
    <input class="form-check-input" type="checkbox" value="" />
    <p class="mat-body-2 checkBoxFormHeight">
      Save my name and email in this browser for a next time comment.
    </p>
  </div>
  <div class="replyFormInputs textAreaForm">
    <label
      for="exampleFormControlTextarea1"
      class="form-label mat-body-2 noMarginBottom"
      >Comment</label
    >
    <textarea
      class="form-control textLabel"
      id="exampleFormControlTextarea1"
      rows="3"
      placeholder="Space for your comments"
    ></textarea>
  </div>
  <button
    type="button"
    class="normalButton bgBrandColor2 fgAdditionalColor2 resizePaddingButtonForm"
  >
    <p class="mat-body-2">Send a reply</p>
  </button>
</div>

<p class="mat-display-2 sectionSeparator">Contact form</p>
<div class="replyFormBox">
  <p class="mat-display-2 replyForm__subtitle">Contact us</p>
  <div class="inputEmailName justify-content-between row">
    <div class="replyFormInputs replyForm__input1 col-xs">
      <label for="labelNoForm" class="form-label mat-body-2 noMarginBottom"
        >Name</label
      >
      <input
        type="text"
        class="form-control textLabel inputHeight"
        id="labelNoForm"
        placeholder="Name"
      />
    </div>
    <div class="replyFormInputs replyForm__input2 col-xs">
      <label for="labelEmail" class="form-label mat-body-2 noMarginBottom"
        >Email address</label
      >
      <input
        type="email"
        class="form-control textLabel inputHeight"
        id="labelEmail"
        placeholder="Email address"
      />
    </div>
  </div>
  <div class="replyFormInputs textAreaForm2">
    <label
      for="exampleFormControlTextarea1"
      class="form-label mat-body-2 noMarginBottom"
      >Message</label
    >
    <textarea
      class="form-control textLabel"
      id="exampleFormControlTextarea1"
      rows="3"
      placeholder="Lorem message"
    ></textarea>
  </div>
  <button
    type="button"
    class="normalButton bgBrandColor2 fgAdditionalColor2 resizePaddingButtonForm"
  >
    <p class="mat-body-2">Send</p>
  </button>
</div>

<p class="mat-display-2 sectionSeparator">Search</p>
<div class="textLabelNoForm searchFilterDropdownWrapper">
  <div class="textFieldDropdown searchFilterDropdown">
    <div class="dropdown paginationDropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <p class="mat-body-2 fgBrandColor1">All categories</p>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item">1</a>
        <a class="dropdown-item">2</a>
        <a class="dropdown-item">3</a>
        <a class="dropdown-item">4</a>
        <a class="dropdown-item">5</a>
        <a class="dropdown-item">6</a>
        <a class="dropdown-item">7</a>
        <a class="dropdown-item">8</a>
        <a class="dropdown-item">9</a>
        <a class="dropdown-item">10</a>
      </div>
    </div>
    <p class="mat-body-2 opacity-50 searchFilterDropdownSeparator">
      <span>|</span>
    </p>
  </div>
  <input
    type="text"
    class="form-control textLabel inputHeight smallSearchIcon"
    id="labelNoForm"
    placeholder="Search Lorem, categories ..."
  />
</div>
<div class="textLabelNoForm"></div>
<br />
<div class="textLabelNoForm">
  <input
    type="text"
    class="form-control textLabel inputHeight smallSearchIcon"
    id="labelNoForm"
    placeholder="Search Lorem, categories ..."
  />
</div>
<br />
<div class="searchWrapper bgBrandColor3">
  <div class="d-flex headerNavigationBarSearch mx-auto">
    <input type="text" class="headerNavigationBarSearchInput" />
    <span
      class="mat-display-2 headerNavigationBarSearchButton bgBrandColor2 fgAdditionalColor2"
      >Search</span
    >
  </div>
</div>
<br />
<div class="searchWrapper">
  <div class="d-flex headerNavigationBarSearch mx-auto bdAdditionalColor1">
    <input
      type="text"
      class="headerNavigationBarSearchInput grayHeaderNavigationBarSearchInput"
    />
    <span
      class="mat-display-2 headerNavigationBarSearchButton bgBrandColor2 fgAdditionalColor2"
      >Search</span
    >
  </div>
</div>

<p class="mat-display-2 sectionSeparator">Pagination</p>
<div class="pagination_arrow_large cursorPointer">
  <img
    class="pagination_arrow_left_img opacity-50"
    src="../../assets/pagination_arrow_1.svg"
    alt=""
  />
</div>

<div class="pagination_arrow_large cursorPointer bgBrandColor2">
  <img src="../../assets/pagination_arrow_2.svg" alt="" />
</div>
<br /><br />
<div class="pagination_arrow_large cursorPointer circleBorder">
  <img
    class="pagination_arrow_left_img opacity-50"
    src="../../assets/pagination_arrow_1.svg"
    alt=""
  />
</div>
<h4 class="paginationInlineNumber mat-subheading-1 fgBrandColor2 cursorPointer">
  1
</h4>
<div class="pagination_arrow_large cursorPointer bgBrandColor2 circleBorder">
  <img src="../../assets/pagination_arrow_2.svg" alt="" />
</div>
<br /><br />
<div class="pagination_arrow_small cursorPointer">
  <img
    class="pagination_arrow_left_img opacity-50"
    src="../../assets/pagination_arrow_1.svg"
    alt=""
  />
</div>
<h4 class="paginationInlineNumber mat-subheading-1 fgBrandColor2 cursorPointer">
  1
</h4>
<h4 class="paginationInlineNumber mat-subheading-1 opacity-50 cursorPointer">
  2
</h4>
<h4 class="paginationInlineNumber mat-subheading-1 opacity-50 cursorPointer">
  3
</h4>
<h4 class="paginationInlineNumber mat-subheading-1 opacity-50 cursorPointer">
  4
</h4>
<h4 class="paginationInlineNumber mat-subheading-1 opacity-50 cursorPointer">
  5
</h4>
<div class="pagination_arrow_small cursorPointer">
  <img src="../../assets/pagination_arrow_4.svg" alt="" />
</div>
<br /><br />
<div class="pagination_arrow_large cursorPointer pagination_arrow_text">
  <img
    class="pagination_arrow_left_img opacity-50"
    src="../../assets/pagination_arrow_1.svg"
    alt=""
  />
  <h4 class="paginationInlineNumber mat-subheading-1 opacity-50">Prev</h4>
</div>
<div class="dropdown paginationDropdown">
  <button
    class="btn btn-secondary dropdown-toggle opacity-50"
    type="button"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    1
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item">1</a>
    <a class="dropdown-item">2</a>
    <a class="dropdown-item">3</a>
    <a class="dropdown-item">4</a>
    <a class="dropdown-item">5</a>
    <a class="dropdown-item">6</a>
    <a class="dropdown-item">7</a>
    <a class="dropdown-item">8</a>
    <a class="dropdown-item">9</a>
    <a class="dropdown-item">10</a>
  </div>
</div>
<h4 class="paginationInlineNumber mat-subheading-1">of 10</h4>
<div
  class="pagination_arrow_large cursorPointer pagination_arrow_text bgBrandColor2 pagination_arrow_text_right"
>
  <h4 class="paginationInlineNumber mat-subheading-1 fgBrandColor2">Next</h4>
  <img
    class="pagination_arrow_left_img"
    src="../../assets/pagination_arrow_4.svg"
    alt=""
  />
</div>
<br />
<div class="paginationStepperWrapper">
  <div class="diamond cursorPointer">Step 1</div>
  <div class="right-arrow cursorPointer">Step 2</div>
  <div class="right-arrow cursorPointer">Step 3</div>
</div>

<p class="mat-display-2 sectionSeparator">Message window</p>

<div class="modalWrapper bgAdditionalColor2 messageWindowDownWrapper">
  <div class="d-flex justify-content-between upperAlert">
    <p class="mat-body-2 my-auto">Keep track lorem</p>
  </div>
  <p class="mat-body-1 fgBrandColor1">Keep details go here.</p>
  <div class="text-end">
    <button
      type="button"
      class="smallButton bgAdditionalColor2 bdAdditionalColor1 modalButton w-auto"
    >
      <p class="mat-body-2">Learn more</p>
    </button>
    <button
      type="button"
      class="smallButton bgBrandColor2 bdBrandColor2 modalButton"
    >
      <p class="mat-body-2 fgAdditionalColor2">Got it</p>
    </button>
  </div>
</div>
<br />
<div class="modalWrapper bgAdditionalColor2 messageWindowLeftWrapper">
  <div class="messageWindowUpper">
    <div class="d-flex justify-content-between upperAlert">
      <p class="mat-body-2 my-auto">Keep track lorem</p>
      <img src="../../assets/modal_x.svg" alt="" class="cursorPointer" />
    </div>
    <p class="mat-body-1 fgBrandColor1">
      Keep details go here Lorem Ilus
      <br />
      Lorem Kepp Lorem Ipsum.
    </p>
  </div>
  <div class="lowerMessageWindow d-flex align-items-center">
    <div class="inlineDot"></div>
    <div class="inlineDot bgBrandColor2"></div>
    <div class="inlineDot"></div>
    <div class="inlineDot"></div>
    <div class="inlineDot"></div>
  </div>
</div>

<p class="mat-display-2 sectionSeparator">Progress bar</p>
<div id="fontHelvatica">
  <div class="wrapper option-1 option-1-1">
    <ol class="c-stepper">
      <li class="c-stepper__item">
        <h3 class="c-stepper__title">Level 1</h3>
      </li>
      <li class="c-stepper__item opacity-50">
        <h3 class="c-stepper__title">Level 2</h3>
      </li>
      <li class="c-stepper__item opacity-50">
        <h3 class="c-stepper__title">Level 3</h3>
      </li>
    </ol>
  </div>
  <br />
  <div class="wrapper option-1 option-1-1">
    <ol class="c-stepper">
      <li class="c-stepper__item_2"></li>
      <li class="c-stepper__item_2 opacity-50"></li>
      <li class="c-stepper__item_2 opacity-50"></li>
      <li class="c-stepper__item_2 opacity-50"></li>
    </ol>
  </div>
  <br />
  <div class="wrapper option-1 option-1-1">
    <ol class="c-stepper">
      <li class="c-stepper__item_3"></li>
      <li class="c-stepper__item_3 opacity-50"></li>
      <li class="c-stepper__item_3 opacity-50"></li>
      <li class="c-stepper__item_3 opacity-50"></li>
    </ol>
  </div>
  <br />
  <div role="progressbar" style="--value: 69"></div>
</div>

<p class="mat-display-2 sectionSeparator">Table</p>
<table class="table">
  <thead>
    <tr class="bgBrandColor3 fgAdditionalColor2">
      <th scope="col">#</th>
      <th scope="col">Col 1</th>
      <th scope="col">Col 2</th>
      <th scope="col">Col 3</th>
    </tr>
  </thead>
  <tbody class="bdAdditionalColor1">
    <tr class="bgAdditionalColor1 fgBrandColor1">
      <th scope="row" class="bgAdditionalColor1 fgBrandColor1">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr class="bgAdditionalColor1 fgBrandColor1">
      <th scope="row" class="bgAdditionalColor1 fgBrandColor1">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr class="bgAdditionalColor1 fgBrandColor1">
      <th scope="row" class="bgAdditionalColor1 fgBrandColor1">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
<br /><br />
