@import '../../custom-theme.scss';

.sideMenuWrapper
{
    width: 100%;
    min-height: 100%;
    max-width: fit-content;
    text-align: center;
    overflow: visible !important;
    float: left;
}

.topSideMenu
{
    padding: 12px;
    margin: 0 !important;
    width: 100%;
    float: left;
}

.itemMenu
{
    padding: 12px;
    margin-bottom: 0px;
    cursor: pointer;
    border:solid;
    border-width: 1px;
    width: 100%;
    float: left;
}